

/****** General ***********/

.menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
    padding-top: 0;
    }
  
  .logobooki {
      width: 4em;
      height: 1.3em;
      margin-top: 20px;
  }
  
  .hebergementsactivites {
      display: flex;
      justify-content: center;
      gap: 15%;
  }
  
  .hebergementsactivites .top {
      margin-top: 0;
      padding-top: 1em;
  }
  
  
  
  .top:hover {
      color: #0065FC;
      border-top: 2px solid blue;
      padding-top: 0.9em;
  }
  
  
  
  .nature {
      margin-top: 2px;
     margin-bottom: 15px;
  }
  
  .recherche {
    padding: 10px;
    margin-top: 3%;
    margin-right: 80%;
    display: flex;
    justify-content: flex-start
  }
  
  .fa-solid .fa-location-dot {
      color: black;
  }
  
  .active {
    border-radius: 15px 0px 0px 15px; 
    border-width: 15px;
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
  }
  
  input {
      border-top: hidden;
      border-left: hidden;
      border-style: solid;
      border-color: #F2F2F2;
      width: 160px;
      font-weight: bold;
      font-size: medium;
      padding-left: 8%;
      padding-right: 2%;
  }
  
  input:focus {
     outline: #F2F2F2;
  }
  
  
  .click {
      border-radius: 0px 15px 15px 0px;
      border-width: 15px;
      border-style: solid;
      border-color: #0065FC;
      background-color: #0065FC;
      color: white;
      font-weight: bold;
      font-size: medium;
  }
  
  .glass {
      border-radius: 0px 15px 15px 0px;
      border-width: 15px;
      border-style: solid;
      border-color: #0065FC;
      background-color: #0065FC;
      color: white;
      font-size: medium;
      display: none;
  }
  
  .filtres-container {
      padding-top: 5%;
  }
  
  .filtres {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 1%;
  }
  
  .invictus {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2%;
  }
  
  .invictus :hover {
    background-color: #DEEBFF;
  }
  
  .filtres .strong :hover {
      background-color: white;
  }
  
  .bord {
      padding: 11px;
      border-width: medium;
      border-style : solid;
      border-color: #F2F2F2;
      border-radius: 24px;
      gap: 0.5em;
      display: flex;
      align-items: center;
      text-align: center;
  }
  
  .logements {
      margin-top: 20px;
      margin-bottom: 25px;
      display: flex;
      align-items: baseline;
      gap: 10px;
  }
  
  
  
  .infoicon {
    padding: 10px;
    padding-left: 11px;
    border: 1px;
    border-width: thin;
    border-style : solid;
    border-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 10px;
    height: 10px;
  }
  
  
  * {
    font-family: 'Raleway', sans-serif;
  }
  
  :root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
  }
  
  :root .active {
      --main-color: black;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  .search .fa-solid {
    color: black;
  }
  
  body {
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
  
  .main-container {
    
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .card img {
    object-fit: cover;
  }
  
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color)
  }
  
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  /****** Hebergements ***********/
  .hebergements {
    width: 65%;
  }
  
  .lignehebergement {
    display: flex;
    justify-content: flex-start;
    justify-content:space-between ;
    padding-right: 2%;
  }
  
  .hebergements-cards .card {
    margin-top: 33px;
    width: 100%;
    padding: 0;
  }
  
  .hebergements-cards .card-title {
    margin: 0;
  }
  
  .hebergements-cards .card-subtitle {
    margin-bottom: 1.5%;
  }
  
  .hebergements-cards img { 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 115px;
  }
  
  .card-largeur {
    width: 29.5%;
  
  }
  
  .hebergements .card-content {
    padding-left: 10px;
   }
  
  
  /****** Populaires ***********/
  .populaires {
    width: 32%;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires-cards .card {
    display: flex;
   margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
   margin-bottom: 5px;
  }
  
  /****** Activités *********/
  
  .titre-footer {
    padding-left: 30px;
  }
  
  .Activites-section{
    margin-top: 5%;
  }
  
  .Activites-section .Activites-cards {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
  }
  
  .Activites-section .cardfoot {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    border-width: 0px 0px 0px 100px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  
  .Activites-section .card-title {
    padding-left: 5%;
  }
  
  .Activites-cards img {
    width: 100%;
    height: 500px;
    border-radius: 20px 20px 0px 0px;
  }
  
  
  .cardfoot img {
    object-fit: cover;
  }
  
  /******** A propos ******/
  
  .downpage {
    border-radius: 0;
    background-color: #F2F2F2;
    margin-top: 75px;
  }
  
  .downmenus {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    padding-left: 1%;
  }
  
  /******* Tablette ******/
  
  @media screen  and (max-width: 1024px) and (min-width: 768px) {
  
      .strong {
          font-size: large;
          margin-bottom: 25px;
      }
  
      .invictus {
          margin-bottom: 15px;
      }
  
      .filtres {
          display: flex;
          align-items: baseline;
          flex-direction: column;
          gap: 0;
      }
  
      .hebergements-and-populaires {
          flex-direction: column;
      }
  
      h3 {
          text-overflow: ellipsis;
      }
    
      .hebergements {
          width: 100%;
      }
    
      .populaires {
          width: 100%;
          margin-top: 50px;
      }
    
      .populaires-cards {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
    
      .populaires-cards a {
          width: 30%;
      }
    
      .populaires-cards .card-title {
          font-size: 14px;
      }
    
      .populaires-cards .card-subtitle {
          font-size: 13px;
      }
  
  .Activites-cards img {
      height: 220px;
  }
  
    }
  
  
  /******* Mobile ******/
  
  @media screen and (max-width:768px) and (min-width:320px) {
      
      
      .main-container {
          margin: 0;
          padding: 0;
      }
      
      body {
          margin: 0;
          padding: 0;
      }
  
      
      .menu {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      nav a {
          border-top: 2px solid white;
          padding-top: 0.65em;

      }
      
      .logobooki {
          font-size: 29px;
      }
      
   nav a:hover {
    border-bottom: 2px solid blue;
    padding-bottom: 1em;
    margin-bottom: -29.5px;
    
   }
  
  .hebergementsactivites {
    border-bottom: 2px solid lightgray;
    width: 100%;
    padding-bottom: 1em;;
    font-size: 28px;
  }
      
  .section-title {
      font-size: 42px;
      margin-left: 40px;
  }
  
  .nature {
      font-size: 29px;
      margin-top: 15px;
      margin-left: 40px;
  }
  
  .active {
      font-size: 35px;
      width: 80px;
      border-radius: 28px 0 0 28px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .recherche {
     width: fit-content;
      height: 95px;
      margin: 0;
  }
  
  .input {
    font-size: 23px;
    padding-right: 0;
   padding-left: 50px;
   font-size: 30px;
   width: 485px;
}
  
  .click {
      display: none;
  }
  
  .glass {
      border-radius: 0 25px 25px 0;
      width: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      position: relative;
      z-index: 1;
      
  }
  
  .strong {
      font-size: 35px;
  }
  
  .invictus {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 115px 115px;
      margin-left: 75px;
      gap: 45px;
  }
  
  .bord {
      font-size: 28px;
      padding: 26px;
      border-radius: 45px;
      border-width: thick;
  }
  
  .infoicon {
      width: 25px;
      height: 25px;
      padding-left: 17px;
  }
  
  .logements {
      font-size: 30px;
      display: flex;
     align-items: baseline;
     text-align: center;
    margin-right: 45px;
    margin-left: 30px;
  }
  
  
  .chart {
      font-size: 30px;
  }
  
  .populaires-cards {
      display: flex;
      flex-direction: column;
  }
  
  .populaires-cards .card {
      width: 325%;
      height: 250px;
  }
  
  .populaires-cards img {
      height: 100%;
  }
  
  .populaires-cards .card-title {
      font-size: x-large;
  }
  
  .populaires-cards .card-subtitle {
      font-size: x-large;
  }
  
  
  
  .hebergements-and-populaires {
      display: flex;
      flex-direction: column-reverse;
      gap: 25px;
  }
  
  .hebergements-and-populaires .star {
      font-size: x-large;
  }
  
  .hebergements-and-populaires .populaires {
      background-color: #F2F2F2;
      border-radius: 0;
  }
  
  .hebergements-and-populaires .hebergements {
      background-color: white;
  }
  
  .lignehebergement {
          display: flex;
          flex-direction: column;
  }
  
  .hebergements-cards .card {
      width: 345%;
  }
  
  .hebergements-cards .card-title {
      font-size: x-large;
      
  }
  
  .hebergements-cards .card-subtitle {
      font-size: x-large;
  }
  
  .euro {
      resize: inherit;
  }
  
  .hebergements-cards img { 
      height: 200px;
      width: 100%;
      }
  
  .hebergements-and-populaires h2 {
      font-size: 40px;
  }
  
  .hebergements-cards h3 {
      font-size: xx-large;
  }
  
  
  
  .Activites-cards {
      gap: 10%;
  }
  
  .Activites-cards .card-title {
      font-size: x-large;
  }
  
  .Activites-cards .card-subtitle {
      font-size: x-large;
  }
  
  .Activites-section .Activites-cards {
      display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
  }
  
  .Activites-section h2 {
      font-size: 2.5em;
      padding-left: 60px;
  }
  
  .Activites-cards img {
      width: 100%;
      height: 300px;
      border-radius: 20px 20px 0 0;
  }
  
  .Activites-section .cardfoot {
      width: 85%;
      background-color: white;
      border-radius: 20px;
      border-width: 0px 0px 0px 100px;
      padding: 0px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
  
  .downmenus {
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: xx-large;
  }
  
  }