/****** Version Destop ***********/

/***** Partie Menu ****/

.menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}
  
.logobooki {
    width: 4em;
    height: 1.3em;
    margin-top: 20px;
}
  
.hebergementsactivites {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-right: 10px;
}
  
.hebergementsactivites a {
    padding-top: 1em;
}
  
.top_hebergements:hover {
    color: #0065FC;
    border-top: 2px solid blue;
    padding-top: 0.9em;
}

.top_activites:hover {
    color: #0065FC;
    border-top: 2px solid blue;
    padding-top: 0.9em;
}
  
.nature {
    margin-top: 2px;
    margin-bottom: 15px;
}
  
/******* Champ de recherche *****/

.recherche {
    padding: 10px;
    margin-top: 3%;
    margin-right: 80%;
    display: flex;
    justify-content: flex-start
}
  
.fa-solid .fa-location-dot {
    color: black;
}
  
.active {
    border-radius: 15px 0px 0px 15px; 
    border-width: 15px;
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
}
  
input {
    border-top: hidden;
    border-left: hidden;
    border-style: solid;
    border-color: #F2F2F2;
    width: 160px;
    font-weight: bold;
    font-size: medium;
    padding-left: 8%;
    padding-right: 2%;
}
  
input:focus {
    outline: #F2F2F2;
}
  
.click {
    border-radius: 0px 15px 15px 0px;
    border-width: 15px;
    border-style: solid;
    border-color: #0065FC;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
  
.glass {
    border-radius: 0px 15px 15px 0px;
    border-width: 15px;
    border-style: solid;
    border-color: #0065FC;
    background-color: #0065FC;
    color: white;
    font-size: medium;
    display: none;
    cursor: pointer;
}
  /****** Partie Filtres ****/

.filtres-container {
    padding-top: 5%;
}
  
.filtres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}
  
.filtres_options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
}
  
.filtres_options :hover {
    background-color: #DEEBFF;
}
  
.filtres .strong :hover {
    background-color: white;
}
  
.bord {
    padding: 11px;
    border-width: medium;
    border-style : solid;
    border-color: #F2F2F2;
    border-radius: 24px;
    gap: 0.5em;
    display: flex;
    align-items: center;
    text-align: center;
}
  
.logements {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}
  
.infoicon {
    padding: 10px;
    border: 1px;
    border-width: thin;
    border-style : solid;
    border-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
}

  /****** Spécifications générales *****/
  
* {
    font-family: 'Raleway', sans-serif;
}
  
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
  
:root .active {
      --main-color: black;
}
  
.fa-solid {
    color: var(--main-color);
}
  
.search .fa-solid {
    color: black;
}
  
body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}
  
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
.section-title {
    margin: 0;
    font-size: 22px;
}
  
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
  
.card img {
    object-fit: cover;
}
  
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color)
  }
  
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  /****** Hebergements ***********/

  .hebergements {
    width: 65%;
}
  
.lignehebergement {      /******ligne horizontale de cards dans la section herbergements *****/
    display: flex;
    justify-content: flex-start;
    justify-content:space-between ;
    padding-right: 2%;
    gap: 35px;
}
  
.hebergements-cards .card {
    margin-top: 33px;
    width: 100%;
    padding: 5px;
}
  
.hebergements-cards .card-title {
    margin: 0;
}
  
.hebergements-cards .card-subtitle {
    margin-bottom: 1.5%;
}
  
.hebergements-cards img { 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 115px;
}
  
.card-largeur {
    width: 100%;
}
  
.hebergements .card-content {
    padding-left: 10px;
}
  
  
  /****** Populaires ***********/

.populaires {
    width: 32%;
}
  
.populaires-title { /****** Titre et icône *****/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.populaires-cards .card {
    display: flex;
    justify-content: center; 
    margin-top: 33px;
}
  
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
  
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
  
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
  
.populaires-cards .card-subtitle {
    margin: 0;
}
  
.populaires-cards .card-rating {
   margin-bottom: 5px;
}
  
  /****** Activités *********/
  
.titre-footer {
    padding-left: 30px;
}
  
.Activites-section{
    margin-top: 5%;
}
  
.Activites-section .Activites-cards {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
}
  
.Activites-section .cardfoot {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    border-width: 0px 0px 0px 100px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
  
.Activites-section .card-title {
    padding-left: 5%;
}
  
.Activites-cards img {
    width: 100%;
    height: 500px;
    border-radius: 20px 20px 0px 0px;
}
  
.cardfoot img {
    object-fit: cover;
}
  
  /******** A propos ******/
  
.bottompage {
    border-radius: 0;
    background-color: #F2F2F2;
    margin-top: 75px;
}
  
.bottomlinks {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    padding-left: 15px;
}
  
  /******* Tablette ******/
  
@media screen  and (max-width: 1024px) {
  
.strong {
    font-size: large;
    margin-bottom: 25px;
}
  
.filtres_options {
    margin-bottom: 15px;
}
  
.filtres {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
  
.hebergements-and-populaires {
    display: flex;
    flex-direction: column;
}
  
.hebergements {
    width: 100%;
}

.card-largeur {
    width: 100%;
}
    
.populaires {
    width: 100%;
    margin-top: 50px;
}
    
.populaires-cards {
    display: flex;
    justify-content: space-between;
}
    
.populaires-cards a {
    width: 30%;
}
    
.populaires-cards .card-title {
    font-size: 14px;
}
    
.populaires-cards .card-subtitle {
    font-size: 13px;
}
  
.Activites-cards img {
    height: 220px;
}
  
}
  
  
 /******* Mobile ******/
  
@media screen  and (max-width:768px) {
      
.main-container {
    margin: 0;
    padding: 0;
}
      
body {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 0;
    width: 100%;
}

nav a {
    border-top: 2px solid white;
    padding-top: 0.65em;
}
      
.logobooki {
    font-size: 29px;
}
      
.hebergementsactivites {
    display: flex;
    text-align: center;
    font-size: 28px;
    border-bottom: 4px solid lightgray;
    width: 100%;
    padding-bottom: 1em;
    margin: 0;
    gap: 2px;
}

.top_hebergements {
    border-bottom: 4px solid transparent;
    width: 100%;
}

.top_hebergements:hover {
    border-bottom: 4px solid blue;
    margin-bottom: -31.5px;
    width: 100%;
    border-top:  2px solid white;
    padding-top: 1em;
}

.top_activites {
    border-bottom: 4px solid transparent;
    width: 100%;
}

.top_activites:hover {
    border-bottom: 4px solid blue;
    margin-bottom: -31.5px;
    width: 100%;
    border-top:  2px solid white;
    padding-top: 1em;
}

h1 {
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
}
  
.nature {
    font-size: 29px;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 50px;
}

/***** Champ de recherche ****/
  
.active {
    font-size: 35px;
    width: 80px;
    border-radius: 28px 0 0 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.recherche {
    width: 100%;
    height: 115px;
    margin: 0;
    box-sizing: border-box;
}
  
.input {
    font-size: 23px;
    padding-right: 0;
    padding-left: 50px;
    font-size: 30px;
    width: 100%;
}
  
.click {
    display: none;
}
  
.glass {
    border-radius: 0 25px 25px 0;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
 
/******* Partie Filtres ******/

.strong {
    font-size: 30px;
}

.filtres_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 85px;
    gap: 50px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 25px;
    width: 95%;
}
  
.bord {
    font-size: 28px;
    border-radius: 50px;
    border-width: thick;
    padding: 28px;
    display: flex;
    justify-content: center;
}
  
.infoicon {
    font-size: 23px;
    width: 25px;
    height: 25px;
    padding-right: 14px;
    padding-left: 14px;
    display: flex;
    align-items: center;
}

.dispo {
    padding-left: 15px;
}
  
.logements {
    font-size: 30px;
    display: flex;
    align-items: baseline;
    margin-right: 45px;
    margin-left: 30px;
    margin-top: 55px;
}
  
/******** Populaires ******/
  
.chart {
    font-size: 30px;
}

.populaires {
    width: 100%;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.populaires a {
    width: 100%;
}
  
.populaires-cards .card {
    width: 100%;
    height: 250px;
}
  
.populaires-cards img {
    height: 100%;
}
  
.populaires-cards .card-title {
    font-size: x-large;
}
  
.populaires-cards .card-subtitle {
    font-size: x-large;
}
  
/****** Hébergements *******/

.section-title {
    margin: 0;
    font-size: 40px;
}

.hebergements {
    width: 100%;
}

.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
}
  
.hebergements-and-populaires .star {
    font-size: x-large;
}
  
.hebergements-and-populaires .populaires {
    background-color: #F2F2F2;
    border-radius: 0;
}
  
.hebergements-and-populaires .hebergements {
    background-color: white;
}
  
.lignehebergement {
     display: flex;
    flex-direction: column;
}
  
.hebergements-cards .card {
    width: 100%;
}
  
.hebergements-cards .card-title {
    font-size: x-large;
}
  
.hebergements-cards .card-subtitle {
    font-size: x-large;
}
  
.euro {
    resize: inherit;
}
  
.hebergements-cards img { 
    height: 200px;
    width: 100%;
 }
  
 .hebergements-cards .card-content {
    box-sizing: border-box;
 }

.hebergements-cards h3 {
    font-size: xx-large;
}
  
/****** Activités *****/
  
.Activites-cards {
    gap: 10%;
}
  
.Activites-cards .card-title {
    font-size: x-large;
}
  
.Activites-cards .card-subtitle {
    font-size: x-large;
}
  
.Activites-section .Activites-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
  
.Activites-section h2 {
    font-size: 2.5em;
    padding-left: 60px;
}
  
.Activites-cards img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
}
  
.Activites-section .cardfoot {
    width: 85%;
}
  
/****** A propos *****/

.bottomlinks {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
}
  
}

/****** Ajustements sous 650px *****/


@media screen  and (max-width:650px) {

.infoicon {
    width:5vmin;
    height: 4vmin;
}

.strong {
    margin: auto; 
}

.filtres {
    margin-top: 20px;
}

.filtres_options {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin: auto;
}    

.bord {
    width: 80%;
}

}





